        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Poppins', sans-serif;
        }

        body {
            background: #f5f7fa;
        }

        .container {
            width: 100%;
            margin: 0;
            padding: 0;
        }

        .box {
            flex: 1;
            padding: 20px;
            border-radius: 14px;
            border: 1px solid #e5e8ea;
            background: white;
            width: 90%;
            margin: 0 auto;

        }

        .box2 {
            flex: 1;
            margin-top: 20px;
            padding: 20px;
            border-radius: 14px;
            border: 1px solid #e5e8ea;
            background: white;
        }

        .navbar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 23px 100px;
            margin-bottom: 30px;
            box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.2);
            position: sticky;
            top: 0;
            left: 0;
            background-color: white;
        }

        .logo {
            display: flex;
            align-items: center;
            gap: 8px
        }

        .bulb {
            width: 16px;
            height: 16px;
            background: #f7c948;
            border-radius: 50%;
        }

        .menu {
            display: flex;
            list-style: none;
            gap: 25px;
        }

        .menu li a {
            text-decoration: none;
            color: #333;
            font-weight: 500;
        }

        .menu li a:hover {
            color: #52a8a0;
            text-direction: none;
        }

        .profile {
            display: flex;
            align-items: center;
            gap: 10px;
        }

        .profile img {
            width: 35px;
            height: 35px;
            border-radius: 50%;
        }

        h1 {
            font-size: 40px;
            margin-bottom: 5px;
            color: #064e3b;
            margin-left: 5%;
        }

        h2 {
            color: #444;
            margin-bottom: 0px;
        }

        label {
            display: block;
            font-size: 14px;
            margin-bottom: 5px;
            margin-top: 20px;
            color: #34495e;
        }

        input,
        select {
            width: 100%;
            padding: 12px;
            border: none;
            border-radius: 10px;
            background-color: rgba(255, 255, 255, 0.9);
            box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);
            outline: none;
            transition: 0.3s;
        }

        button {
            width: 100%;
            margin-top: 20px;
            padding: 10px;
            background-color: #448b84;
            color: white;
            border: none;
            border-radius: 10px;
            font-size: 16px;
            transition: 0.5s ease;
        }

        button:hover {
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
            transform: translateY(-1px);
        }

        #patientList {
            list-style: none;
            margin-top: 15px;
        }

        #patientList li {
            background: #f5f7fa;
            padding: 12px;
            border-radius: 8px;
            margin-bottom: 10px;
            font-size: 14px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.08);
        }

        table th,
        table td {
            border: 1px solid #ddd;
            padding: 10px;
            font-size: 14px;
            text-align: center;
        }

        table th {
            color: #064e3b;
            font-weight: 600;
        }

        table tr:nth-child(even) {
            background-color: #f9fafb;
        }