<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /Pemrograman_Web/WebPro4904/Pekan-09/

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    RewriteRule ^(.*)$ index.php/$1 [L,QSA]
</IfModule>